<div class="my-4 bg-[#343744] p-10 rounded-lg">
  <div class="mx-8">
    <a routerLink="" class="inline-flex space-x-2">
      <i-feather name="chevron-left"></i-feather>
      <span>Back</span>
    </a>
  </div>
  <div class="hero min-h-fit">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img
        src="{{ post?.thumbnailUrl }}"
        class="max-w-md rounded-lg shadow-2xl"
      />
      <div class="max-w-lg">
        <h1 class="text-4xl font-bold">{{ post?.title | titlecase }}</h1>
        <p class="py-6">
          {{ post?.body }}
        </p>
      </div>
    </div>
  </div>
  <div class="flex flex-row justify-between">
    <div class="space-x-4 mt-8">
      <button class="btn" (click)="likeClick()">
        <i-feather name="thumbs-up"></i-feather> {{ post?.likes }}
      </button>
      <button class="btn" (click)="dislikeClick()">
        <i-feather name="thumbs-down"></i-feather> {{ post?.dislikes }}
      </button>
    </div>
    <div class="flex space-x-4 align-bottom mt-8">
      <div
        class="bg-[#3E414E] py-2 px-4 rounded-md space-x-4 inline-flex h-fit"
      >
        <i-feather name="message-circle" class="icon-small"></i-feather
        ><span>{{ post?.comments?.length }}</span>
      </div>
      <div
        class="bg-[#3E414E] py-2 px-4 rounded-md space-x-4 inline-flex h-fit"
      >
        <i-feather name="clock" class="icon-small"></i-feather
        ><span>{{ post?.creationDate | date : "mediumDate" }}</span>
      </div>
    </div>
  </div>
</div>
<div>
  <ul class="space-y-4">
    <li
      *ngFor="let comment of post?.comments"
      class="bg-[#343744] p-10 rounded-lg"
    >
      <p>{{ comment }}</p>
    </li>
  </ul>
  <div class="form-control">
    <label class="label">
      <span class="label-text">Comment</span>
    </label>
    <textarea
      [(ngModel)]="comment"
      class="textarea textarea-bordered"
      placeholder="Type here..."
      rows="3"
    ></textarea>
  </div>
  <button class="btn bg-primary my-4 justify-end" (click)="createComment()">
    Comment
  </button>
</div>
