<div class="bg-[#343744] p-10 rounded-lg">
  <div class="pb-4 mb-4 border-b flex align-middle justify-between">
    <div>
      <h3 class="text-2xl">Lorem impsum title</h3>
    </div>
    <div class="flex space-x-4">
      <div
        class="bg-[#3E414E] py-2 px-4 rounded-md inline-flex place-items-center space-x-4"
      >
        <i-feather name="message-circle" class="icon-small"></i-feather
        ><span>4</span>
      </div>
      <div
        class="bg-[#3E414E] py-2 px-4 rounded-md inline-flex place-items-center space-x-4"
      >
        <i-feather name="clock" class="icon-small"></i-feather
        ><span>14 October</span>
      </div>
    </div>
  </div>
  <img
    src="https://source.unsplash.com/random"
    class="rounded-sm w-max h-auto"
  />
</div>
