<div class="bg-slate-400 dark:bg-[#343744] px-10 rounded-lg">
  <div class="pt-6 flex justify-between">
    <h2 class="text-2xl">Browse All Posts</h2>
    <select class="outline-none px-2 bg-[#3E414E]">
      <option value="" disabled selected hidden>Sort By</option>
      <option value="comments">All</option>
      <option value="comments">Most Comments</option>
      <option value="likes">Most Likes</option>
    </select>
  </div>
  <div class="divider"></div>
  <ul class="grid lg:grid-cols-3 gap-10 pb-6">
    <a
      *ngFor="let post of posts"
      [routerLink]="['/Blog', post.id]"
      class="card w-80 bg-base-100 shadow-xl hover:outline-8 hover:outline transition-all outline-slate-600"
    >
      <figure>
        <img src="{{ post.thumbnailUrl }}" />
      </figure>
      <div class="card-body flex justify-between">
        <h2 class="card-title">
          {{ post.title | titlecase }}
        </h2>
        <div class="card-actions justify-end">
          <div class="badge badge-outline">Tech</div>
        </div>
      </div>
    </a>
  </ul>
</div>
