<header class="py-2 flex justify-between">
  <div class="inline-flex place-items-center">
    <img src="../../assets/logo.svg" alt="" />
    <nav class="space-x-12 mx-4 hidden md:flex">
      <a routerLink="">List of Posts</a>
      <a routerLink="About">About Me</a>
      <a *ngIf="Admin" routerLink="Create">Create post</a>
    </nav>
    <div class="dropdown mx-4 block md:hidden">
      <label tabindex="0" class="btn m-1 mx-4">Blog</label>
      <ul
        tabindex="0"
        class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li><a routerLink="">List of Posts</a></li>
        <li><a routerLink="About">About Me</a></li>
        <li *ngIf="Admin"><a routerLink="Create">Create post</a></li>
      </ul>
    </div>
  </div>
  <div class="flex">
    <div class="dropdown dropdown-end bg-[#343744] rounded-full">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div *ngIf="!Admin" class="w-10 rounded-full">
          <img src="../../../assets/profile.jpg" />
        </div>
        <div *ngIf="Admin" class="avatar placeholder">
          <div class="text-neutral-content">
            <span class="text-2xl">A</span>
          </div>
        </div>
      </label>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li>
          <a routerLink="" (click)="ChangeUser()">Switch to {{ loggedIn }}</a>
        </li>
      </ul>
    </div>
  </div>
</header>
