<div class="bg-[#343744] p-10 rounded-lg flex">
  <img class="h-fit" src="../../../assets/profile.jpg" alt="" />
  <section class="mx-4">
    <app-heading Content="About Me"></app-heading>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat aut magnam
      modi a esse sapiente numquam sunt inventore soluta, accusamus consectetur
      doloribus laborum deserunt! Provident exercitationem quae rerum velit
      delectus. Eius dignissimos optio consequuntur sequi laborum nam placeat,
      beatae vel dolorem at facilis aperiam quo deserunt assumenda repudiandae,
      distinctio nobis esse dicta doloribus quis vitae. Expedita velit nostrum
      cupiditate officia! Rem dolor sint sed nam possimus adipisci, earum
      magnam, porro vitae recusandae minus autem. Harum odit vero dolore
      corporis. Libero at temporibus illo cum, voluptas saepe ipsa laudantium
      incidunt blanditiis. Laborum, quibusdam placeat. Possimus voluptates,
      sapiente repudiandae impedit nihil minus ut a sequi ipsa ipsum fugit nam
      deleniti vel, magnam, sed praesentium explicabo magni deserunt molestias!
      Quae voluptates aspernatur unde?
    </div>
  </section>
</div>
