<footer
  class="mt-16 rounded-lg footer items-center p-4 bg-[#343744] text-neutral-content"
>
  <aside class="items-center grid-flow-col">
    <p>Copyright © 2023 - All right reserved</p>
  </aside>
  <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <a href="https://twitter.com"><i-feather name="twitter"></i-feather></a>
    <a href="https://www.youtube.com"><i-feather name="youtube"></i-feather></a>
    <a href="https://www.facebook.com"
      ><i-feather name="facebook"></i-feather
    ></a>
  </nav>
</footer>
