<a
  [routerLink]="['/Blog', post?.id]"
  class="card shadow-xl hover:outline-8 hover:outline transition-all outline-slate-600 h-full"
>
  <figure class="h-2/4">
    <img class="h-4/4 w-full" src="{{ post?.thumbnailUrl }}" />
  </figure>
  <div class="h-2/4 card-body flex justify-between">
    <h2 class="card-title">
      {{ post?.title | titlecase }}
    </h2>
    <div class="card-actions justify-end">
      <div class="badge badge-outline">
        <span> {{ post?.tag | titlecase }}</span>
      </div>
    </div>
  </div>
</a>
