/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  font-family: "Onest", sans-serif;
  min-height: calc(100vh);
  background: rgb(45, 49, 62);
  background: linear-gradient(
    180deg,
    rgba(45, 49, 62, 1) 0%,
    rgba(10, 6, 26, 1) 100%
  );
}

summary::marker {
  content: "";
}
